<%= javascript_packs_with_chunks_tag 'successful_booking', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'successful_booking', 'application' %>

<div id="params" data-params="<%= @data %>"></div>