.form-property h6 {
    color: #767676;
    margin-bottom: 0;
  }
  
  .form-property input:focus,
  .form-property textarea:focus {
    box-shadow: none!important;
    border-color: #00A5A0!important;
  }
  
  .btn-add-property {
    color: #fff!important;
    background-color: #FF5A5F!important;
  }