.listings-wrap {
    border: 1px solid #ddd;
    border-radius: 15px;
}
  
.property-image {
    padding-top: calc(1 / 1 * 100%); /* aspect ratio 1:1 */
    background-size: cover;
    background-position: center;
}
  

.description-short {
    width: 100%;
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.delete-button-div {
  margin-left: 17px;
}
  
  