.reservations-wrap {
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
.reservations-wrap , .reservations-header-row {
  font-size: 14px;
}
  
.property-image {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 2:3 */
    background-size: cover;
    background-position: center;
}